<a href="https://colab.research.google.com/github/meraline/Analyz_Pokera/blob/master/analiz_poker.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Извлечение данных

In [ ]:
import re
import pandas as pd

data_pd = {'TypeOfRoom': [], 'HandId': [], 'Tournament': [], 'info': [], 'Level': [], 'Date': [], 
           'Hour': [], 'TimeZoneAbb': [], 'Table': [], 'NoOfPlayers': [], 'bain': [], 'HandHiro': [], 'Flop': [], 'Turn': [], 'River': []}
with open('dim10.txt', 'r') as f:
    data = f.read()
result = re.findall('(\w+) Hand #(\d*): Tournament #(\d*),(.*) Level (.*) - (\d{4}/\d+/\d+) (\d+\D\d+\D\d+) (\w*)', data)    
# result = re.findall('(\w+) Game #(\d*): Tournament #(\d*),(.*) Level (.*) - (\d{4}/\d+/\d+) (\d+\D\d+\D\d+) (\w*)', data)
# result = re.findall('(\w+) Hand #(\d+): (.*) \(.(\d+\.\d+)\/.(\d+\.\d+).*(\d\d\d\d\/\d\d\/\d\d).*(\d+:\d+:\d+) (\w+)', data)
Tables = re.findall('Table \'.*\' (.*) Seat .*\n', data)
bains = re.findall('(\D\d+\.\d+\+\D\d+\.\d+)', data)
HandHiros = re.findall("Dealt to dimetruk \D(.. ..)\D", data)
Flops = re.findall('[*]{3} FLOP [*]{3} \D(.. .. ..)\D', data)
Turns = re.findall('[*]{3} TURN [*]{3} \D.. .. ..\D \D(..)\D', data)
Rivers = re.findall('[*]{3} RIVER [*]{3} \D.. .. .. ..\D \D(..)\D', data)

s = re.findall('Seat (\d).*chips', data)
s = [int(x) for x in s]
seats = []
length = 1
for i in range(len(s)-1):
    if s[i+1] < s[i]:
        seats.append(length)
        length = 1
    else:
        length += 1
seats.append(length)


for r, table, bain, seat, handHiro, flop, turn, river, in zip(result, Tables, bains, seats, HandHiros, Flops, Turns, Rivers):
    data_pd['TypeOfRoom'].append(r[0])
    data_pd['HandId'].append(r[1])
    data_pd['Tournament'].append(r[2])
    data_pd['info'].append(r[3])
    data_pd['Level'].append(r[4])
    data_pd['Date'].append(r[5])
    data_pd['Hour'].append(r[6])
    data_pd['TimeZoneAbb'].append(r[7])
    data_pd['Table'].append(table)
    data_pd['NoOfPlayers'].append(seat)
    data_pd['bain'].append(bain)
    data_pd['HandHiro'].append(handHiro)
    data_pd['Flop'].append(flop)
    data_pd['Turn'].append(turn)
    data_pd['River'].append(river)

df = pd.DataFrame(data_pd)

df.head()

   TypeOfRoom        HandId  Tournament  ...      Flop Turn River
0  PokerStars  228182836411  3227430197  ...  5h 2h Kc   3h    5c
1  PokerStars  228182839161  3227430197  ...  Jd Qh Qc   6d    Kd
2  PokerStars  228182845929  3227430197  ...  Td Kh Th   2c    Ad
3  PokerStars  228182848632  3227430197  ...  3h 6d 7d   8d    6h
4  PokerStars  228242890835  3228689682  ...  As 4s Kc   9d    Jd

[5 rows x 15 columns]

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 15 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   TypeOfRoom   5 non-null      object
 1   HandId       5 non-null      object
 2   Tournament   5 non-null      object
 3   info         5 non-null      object
 4   Level        5 non-null      object
 5   Date         5 non-null      object
 6   Hour         5 non-null      object
 7   TimeZoneAbb  5 non-null      object
 8   Table        5 non-null      object
 9   NoOfPlayers  5 non-null      int64
 10  bain         5 non-null      object
 11  HandHiro     5 non-null      object
 12  Flop         5 non-null      object
 13  Turn         5 non-null      object
 14  River        5 non-null      object
dtypes: int64(1), object(14)
memory usage: 728.0+ bytes

#Преобразуем строковые данные

In [ ]:
before = type(df.Tournament[0])
print(before)

<class 'str'>

In [ ]:
import numpy as np

df.Tournament = df.Tournament.astype('int64')
df = df.astype({'HandId': np.int64, 'Tournament': np.int64})
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 15 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   TypeOfRoom   5 non-null      object
 1   HandId       5 non-null      int64
 2   Tournament   5 non-null      int64
 3   info         5 non-null      object
 4   Level        5 non-null      object
 5   Date         5 non-null      object
 6   Hour         5 non-null      object
 7   TimeZoneAbb  5 non-null      object
 8   Table        5 non-null      object
 9   NoOfPlayers  5 non-null      int64
 10  bain         5 non-null      object
 11  HandHiro     5 non-null      object
 12  Flop         5 non-null      object
 13  Turn         5 non-null      object
 14  River        5 non-null      object
dtypes: int64(3), object(12)
memory usage: 728.0+ bytes