<a href="https://colab.research.google.com/github/meraline/Analyz_Pokera/blob/master/%D0%98%D1%82%D0%BE%D0%B3%D0%BE%D0%B2%D0%B0%D1%8F_Spark.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Установка Spark

In [3]:
!apt-get update

Get:1 http://security.ubuntu.com/ubuntu bionic-security InRelease [88.7 kB]
Hit:2 http://ppa.launchpad.net/c2d4u.team/c2d4u4.0+/ubuntu bionic InRelease
Get:3 https://cloud.r-project.org/bin/linux/ubuntu bionic-cran40/ InRelease [3,626 B]
Hit:4 http://ppa.launchpad.net/cran/libgit2/ubuntu bionic InRelease
Get:5 http://ppa.launchpad.net/deadsnakes/ppa/ubuntu bionic InRelease [15.9 kB]
Hit:6 http://ppa.launchpad.net/graphics-drivers/ppa/ubuntu bionic InRelease
Hit:7 http://archive.ubuntu.com/ubuntu bionic InRelease
Get:8 http://archive.ubuntu.com/ubuntu bionic-updates InRelease [88.7 kB]
Ign:9 https://developer.download.nvidia.com/compute/machine-learning/repos/ubuntu1804/x86_64  InRelease
Hit:10 https://developer.download.nvidia.com/compute/cuda/repos/ubuntu1804/x86_64  InRelease
Hit:11 https://developer.download.nvidia.com/compute/machine-learning/repos/ubuntu1804/x86_64  Release
Get:12 http://archive.ubuntu.com/ubuntu bionic-backports InRelease [83.3 kB]
Get:13 http://ppa.launchpad.net/deadsnakes/ppa/ubuntu bionic/main amd64 Packages [44.0 kB]
Get:15 http://archive.ubuntu.com/ubuntu bionic-updates/main amd64 Packages [3,454 kB]
Get:16 http://archive.ubuntu.com/ubuntu bionic-updates/restricted amd64 Packages [1,232 kB]
Fetched 5,009 kB in 4s (1,370 kB/s)
Reading package lists... Done

In [4]:
!apt-get install openjdk-8-jdk-headless -qq > /dev/null

In [5]:
!wget -q https://downloads.apache.org/spark/spark-3.2.2/spark-3.2.2-bin-hadoop2.7.tgz

In [ ]:
!tar -xvf spark-3.2.2-bin-hadoop2.7.tgz

In [7]:
!pip install -q findspark

In [8]:
import os
os.environ["JAVA_HOME"] = "/usr/lib/jvm/java-8-openjdk-amd64"
os.environ["SPARK_HOME"] = "/content/spark-3.2.2-bin-hadoop2.7"

In [9]:
import findspark
findspark.init()
from pyspark.sql import SparkSession

spark = SparkSession.builder.master("local[*]").getOrCreate()

In [10]:
import findspark
findspark.init()
from pyspark.sql import SparkSession

spark = SparkSession.builder.master("local[*]").getOrCreate()
sc = spark.sparkContext

## Задание 8,9 
Загрузить данные в spark, Средствами спарка вывести среднюю оценку для каждого фильма

In [11]:
df = spark.read.csv('u.data.csv', inferSchema=True, header=False, sep='\t')
df.take(5)

[Row(_c0=196, _c1=242, _c2=3, _c3=881250949),
 Row(_c0=186, _c1=302, _c2=3, _c3=891717742),
 Row(_c0=22, _c1=377, _c2=1, _c3=878887116),
 Row(_c0=244, _c1=51, _c2=2, _c3=880606923),
 Row(_c0=166, _c1=346, _c2=1, _c3=886397596)]

In [12]:
df.take(5)

[Row(_c0=196, _c1=242, _c2=3, _c3=881250949),
 Row(_c0=186, _c1=302, _c2=3, _c3=891717742),
 Row(_c0=22, _c1=377, _c2=1, _c3=878887116),
 Row(_c0=244, _c1=51, _c2=2, _c3=880606923),
 Row(_c0=166, _c1=346, _c2=1, _c3=886397596)]

In [13]:
df_data = df.withColumnRenamed('_c0','user id').withColumnRenamed('_c1','item id').withColumnRenamed('_c2','rating').withColumnRenamed('_c3','timestamp')
df_data.take(5)

[Row(user id=196, item id=242, rating=3, timestamp=881250949),
 Row(user id=186, item id=302, rating=3, timestamp=891717742),
 Row(user id=22, item id=377, rating=1, timestamp=878887116),
 Row(user id=244, item id=51, rating=2, timestamp=880606923),
 Row(user id=166, item id=346, rating=1, timestamp=886397596)]

In [14]:
df_data.show(5)

+-------+-------+------+---------+
|user id|item id|rating|timestamp|
+-------+-------+------+---------+
|    196|    242|     3|881250949|
|    186|    302|     3|891717742|
|     22|    377|     1|878887116|
|    244|     51|     2|880606923|
|    166|    346|     1|886397596|
+-------+-------+------+---------+
only showing top 5 rows

In [15]:
df_data_lim = df_data.select('item id', 'rating')
df_data_lim.show(5)

+-------+------+
|item id|rating|
+-------+------+
|    242|     3|
|    302|     3|
|    377|     1|
|     51|     2|
|    346|     1|
+-------+------+
only showing top 5 rows

In [16]:
df_data_lim_grp = df_data_lim.groupBy('item id').mean('rating')
df_data_lim_grp.show(5)

+-------+------------------+
|item id|       avg(rating)|
+-------+------------------+
|    496| 4.121212121212121|
|    471|3.6108597285067874|
|    463| 3.859154929577465|
|    148|          3.203125|
|   1342|               2.5|
+-------+------------------+
only showing top 5 rows

## Задание 10 
Посчитайте средствами спарка среднюю оценку для каждого жанра

In [17]:
df_item = spark.read.csv('u.item.csv', inferSchema=True, header=False, sep='|')
df_item.take(2)

[Row(_c0=1, _c1='Toy Story (1995)', _c2='01-Jan-1995', _c3=None, _c4='http://us.imdb.com/M/title-exact?Toy%20Story%20(1995)', _c5=0, _c6=0, _c7=0, _c8=1, _c9=1, _c10=1, _c11=0, _c12=0, _c13=0, _c14=0, _c15=0, _c16=0, _c17=0, _c18=0, _c19=0, _c20=0, _c21=0, _c22=0, _c23=0),
 Row(_c0=2, _c1='GoldenEye (1995)', _c2='01-Jan-1995', _c3=None, _c4='http://us.imdb.com/M/title-exact?GoldenEye%20(1995)', _c5=0, _c6=1, _c7=1, _c8=0, _c9=0, _c10=0, _c11=0, _c12=0, _c13=0, _c14=0, _c15=0, _c16=0, _c17=0, _c18=0, _c19=0, _c20=0, _c21=1, _c22=0, _c23=0)]

In [18]:
from functools import reduce

oldColumns = df_item.schema.names
newColumns = ['item id','movie title','release date','video release date',
                                      'IMDb URL', 'unknown', 'Action', 'Adventure', 'Animation',
                                      'Children"s', 'Comedy', 'Crime', 'Documentary', 'Drama', 'Fantasy',
                                      'Film-Noir', 'Horror', 'Musical', 'Mystery', 'Romance', 'Sci-Fi',
                                      'Thriller','War','Western']

df_item_col_name = reduce(lambda df_item, idx: df_item.withColumnRenamed(oldColumns[idx], newColumns[idx]), range(len(oldColumns)), df_item)
df_item_col_name.show(5)

+-------+-----------------+------------+------------------+--------------------+-------+------+---------+---------+----------+------+-----+-----------+-----+-------+---------+------+-------+-------+-------+------+--------+---+-------+
|item id|      movie title|release date|video release date|            IMDb URL|unknown|Action|Adventure|Animation|Children"s|Comedy|Crime|Documentary|Drama|Fantasy|Film-Noir|Horror|Musical|Mystery|Romance|Sci-Fi|Thriller|War|Western|
+-------+-----------------+------------+------------------+--------------------+-------+------+---------+---------+----------+------+-----+-----------+-----+-------+---------+------+-------+-------+-------+------+--------+---+-------+
|      1| Toy Story (1995)| 01-Jan-1995|              null|http://us.imdb.co...|      0|     0|        0|        1|         1|     1|    0|          0|    0|      0|        0|     0|      0|      0|      0|     0|       0|  0|      0|
|      2| GoldenEye (1995)| 01-Jan-1995|              null|http://us.imdb.co...|      0|     1|        1|        0|         0|     0|    0|          0|    0|      0|        0|     0|      0|      0|      0|     0|       1|  0|      0|
|      3|Four Rooms (1995)| 01-Jan-1995|              null|http://us.imdb.co...|      0|     0|        0|        0|         0|     0|    0|          0|    0|      0|        0|     0|      0|      0|      0|     0|       1|  0|      0|
|      4|Get Shorty (1995)| 01-Jan-1995|              null|http://us.imdb.co...|      0|     1|        0|        0|         0|     1|    0|          0|    1|      0|        0|     0|      0|      0|      0|     0|       0|  0|      0|
|      5|   Copycat (1995)| 01-Jan-1995|              null|http://us.imdb.co...|      0|     0|        0|        0|         0|     0|    1|          0|    1|      0|        0|     0|      0|      0|      0|     0|       1|  0|      0|
+-------+-----------------+------------+------------------+--------------------+-------+------+---------+---------+----------+------+-----+-----------+-----+-------+---------+------+-------+-------+-------+------+--------+---+-------+
only showing top 5 rows

In [19]:
df_item_tab = df_item_col_name.join(df_data, 'item id', how='left')
df_item_tab.show(5)

+-------+----------------+------------+------------------+--------------------+-------+------+---------+---------+----------+------+-----+-----------+-----+-------+---------+------+-------+-------+-------+------+--------+---+-------+-------+------+---------+
|item id|     movie title|release date|video release date|            IMDb URL|unknown|Action|Adventure|Animation|Children"s|Comedy|Crime|Documentary|Drama|Fantasy|Film-Noir|Horror|Musical|Mystery|Romance|Sci-Fi|Thriller|War|Western|user id|rating|timestamp|
+-------+----------------+------------+------------------+--------------------+-------+------+---------+---------+----------+------+-----+-----------+-----+-------+---------+------+-------+-------+-------+------+--------+---+-------+-------+------+---------+
|      1|Toy Story (1995)| 01-Jan-1995|              null|http://us.imdb.co...|      0|     0|        0|        1|         1|     1|    0|          0|    0|      0|        0|     0|      0|      0|      0|     0|       0|  0|      0|    593|     3|875659150|
|      1|Toy Story (1995)| 01-Jan-1995|              null|http://us.imdb.co...|      0|     0|        0|        1|         1|     1|    0|          0|    0|      0|        0|     0|      0|      0|      0|     0|       0|  0|      0|    800|     4|887646283|
|      1|Toy Story (1995)| 01-Jan-1995|              null|http://us.imdb.co...|      0|     0|        0|        1|         1|     1|    0|          0|    0|      0|        0|     0|      0|      0|      0|     0|       0|  0|      0|    786|     4|882841828|
|      1|Toy Story (1995)| 01-Jan-1995|              null|http://us.imdb.co...|      0|     0|        0|        1|         1|     1|    0|          0|    0|      0|        0|     0|      0|      0|      0|     0|       0|  0|      0|    747|     5|888639138|
|      1|Toy Story (1995)| 01-Jan-1995|              null|http://us.imdb.co...|      0|     0|        0|        1|         1|     1|    0|          0|    0|      0|        0|     0|      0|      0|      0|     0|       0|  0|      0|    895|     4|879437950|
+-------+----------------+------------+------------------+--------------------+-------+------+---------+---------+----------+------+-----+-----------+-----+-------+---------+------+-------+-------+-------+------+--------+---+-------+-------+------+---------+
only showing top 5 rows

In [47]:
from pyspark.sql.functions import col

film_genre = ['Action', 'Adventure', 'Animation',
            'Children"s', 'Comedy', 'Crime', 'Documentary', 'Drama', 'Fantasy',
             'Film-Noir', 'Horror', 'Musical', 'Mystery', 'Romance', 'Sci-Fi',
                                                    'Thriller','War','Western']
for x in film_genre:
  df_maen = df_item_tab.groupby(x).mean('rating').where(col(x).like('1'))
  df_maen.show()

+------+-----------------+
|Action|      avg(rating)|
+------+-----------------+
|     1|3.480245417953027|
+------+-----------------+

+---------+-----------------+
|Adventure|      avg(rating)|
+---------+-----------------+
|        1|3.503526503308369|
+---------+-----------------+

+---------+------------------+
|Animation|       avg(rating)|
+---------+------------------+
|        1|3.5766990291262135|
+---------+------------------+

+----------+------------------+
|Children"s|       avg(rating)|
+----------+------------------+
|         1|3.3532442216652742|
+----------+------------------+

+------+------------------+
|Comedy|       avg(rating)|
+------+------------------+
|     1|3.3940734781442745|
+------+------------------+

+-----+------------------+
|Crime|       avg(rating)|
+-----+------------------+
|    1|3.6322780881440098|
+-----+------------------+

+-----------+------------------+
|Documentary|       avg(rating)|
+-----------+------------------+
|          1|3.6728232189973613|
+-----------+------------------+

+-----+------------------+
|Drama|       avg(rating)|
+-----+------------------+
|    1|3.6873793708484772|
+-----+------------------+

+-------+------------------+
|Fantasy|       avg(rating)|
+-------+------------------+
|      1|3.2152366863905324|
+-------+------------------+

+---------+------------------+
|Film-Noir|       avg(rating)|
+---------+------------------+
|        1|3.9215233698788228|
+---------+------------------+

+------+------------------+
|Horror|       avg(rating)|
+------+------------------+
|     1|3.2903893172841827|
+------+------------------+

+-------+-----------------+
|Musical|      avg(rating)|
+-------+-----------------+
|      1|3.521396851029471|
+-------+-----------------+

+-------+----------------+
|Mystery|     avg(rating)|
+-------+----------------+
|      1|3.63813155386082|
+-------+----------------+

+-------+-----------------+
|Romance|      avg(rating)|
+-------+-----------------+
|      1|3.621704948358255|
+-------+-----------------+

+------+------------------+
|Sci-Fi|       avg(rating)|
+------+------------------+
|     1|3.5607227022780834|
+------+------------------+

+--------+------------------+
|Thriller|       avg(rating)|
+--------+------------------+
|       1|3.5090069495245064|
+--------+------------------+

+---+-----------------+
|War|      avg(rating)|
+---+-----------------+
|  1|3.815811874866993|
+---+-----------------+

+-------+------------------+
|Western|       avg(rating)|
+-------+------------------+
|      1|3.6132686084142396|
+-------+------------------+

## Задание 11
В спарке получить 2 датафрейма с 5-ю самыми популярными и самыми непопулярными фильмами (по количеству оценок, либо по самой оценке - на Ваш выбор)

In [95]:
df_test = df_item_tab.groupBy('movie title').pivot("unknown").mean('rating')
df_test.show()

+--------------------+------------------+----+
|         movie title|                 0|   1|
+--------------------+------------------+----+
|       Psycho (1960)| 4.100418410041841|null|
|         Cosi (1996)|               4.0|null|
|When We Were King...| 4.045454545454546|null|
|Snow White and th...|3.7093023255813953|null|
| If Lucy Fell (1996)|2.7586206896551726|null|
|    Fair Game (1995)|2.1818181818181817|null|
|Night of the Livi...|          3.421875|null|
|Paris, France (1993)|2.3333333333333335|null|
| Three Wishes (1995)|3.2222222222222223|null|
|   Annie Hall (1977)| 3.911111111111111|null|
|Heavenly Creature...|3.6714285714285713|null|
|        Mondo (1996)|               3.0|null|
|I'll Do Anything ...|               2.6|null|
|Spanking the Monk...| 3.074074074074074|null|
| Evil Dead II (1987)|3.5168539325842696|null|
|A Chef in Love (1...|             4.125|null|
|   Blue Chips (1994)|2.6666666666666665|null|
|Colonel Chabert, ...|               3.5|null|
|Reality Bites (1994)| 2.961038961038961|null|
|    Threesome (1994)| 2.838709677419355|null|
+--------------------+------------------+----+
only showing top 20 rows

In [99]:
top5_max = df_test.orderBy("0", ascending=False).show(5)

+--------------------+---+----+
|         movie title|  0|   1|
+--------------------+---+----+
|     Star Kid (1997)|5.0|null|
|Aiqing wansui (1994)|5.0|null|
|Great Day in Harl...|5.0|null|
|Saint of Fort Was...|5.0|null|
|Marlene Dietrich:...|5.0|null|
+--------------------+---+----+
only showing top 5 rows

In [135]:
top5_min = df_test.orderBy("0", ascending=True).show(7)

+--------------------+----+------------------+
|         movie title|   0|                 1|
+--------------------+----+------------------+
|             unknown|null|3.4444444444444446|
| Good Morning (1971)|null|               1.0|
|Death in the Gard...| 1.0|              null|
|        Daens (1992)| 1.0|              null|
|Girl in the Cadil...| 1.0|              null|
|Crude Oasis, The ...| 1.0|              null|
|Tigrero: A Film T...| 1.0|              null|
+--------------------+----+------------------+
only showing top 7 rows