## Извлечение данных

In [115]:
import re
import pandas as pd
from datetime import datetime
import eval7, pprint
from poker.room.pokerstars import PokerStarsHandHistory
from poker.hand import Hand, Combo
import numpy as np
from phevaluator import evaluate_cards

In [135]:
# Создали словарь
data_pd = {'TypeOfRoom': [], 'HandId': [], 'Tournament': [], 'info': [], 'Level': [], 'Date': [], 'Hour': [],
           'TimeZoneAbb': [], 'Table': [], 'NoOfPlayers': [], 'bain': [], 'HandHiro': [], 'Board': []}

# Открываем файл
with open('dim10.txt', 'r') as f:
    data = f.read()
    
# Ищем нужные данные
result = re.findall('(\w+) Hand #(\d*): Tournament #(\d*),(.*) Level (.*) - (\d{4}/\d+/\d+) (\d+\D\d+\D\d+) (\w*)', data)
Tables = re.findall('Table \'.*\' (.*) Seat .*\n', data)
bains = re.findall('(\D\d+\.\d+\+\D\d+\.\d+)', data)
HandHiros = re.findall("Dealt to dimetruk \D(.. ..)\D", data)
Boards = re.findall("Board \[(.*)\]", data)


# Считаем сколко фишек
s = re.findall('Seat (\d).*chips', data)
s = [int(x) for x in s]
seats = []
length = 1
for i in range(len(s)-1):
    if s[i+1] < s[i]:
        seats.append(length)
        length = 1
    else:
        length += 1
seats.append(length)


# ЗАполнЯем словарь данными
for r, table, bain, seat, handHiro, board in zip(result, Tables, bains, seats, HandHiros, Boards):
    data_pd['TypeOfRoom'].append(r[0])
    data_pd['HandId'].append(r[1])
    data_pd['Tournament'].append(r[2])
    data_pd['info'].append(r[3])
    data_pd['Level'].append(r[4])
    data_pd['Date'].append(r[5])
    data_pd['Hour'].append(r[6])
    data_pd['TimeZoneAbb'].append(r[7])
    data_pd['Table'].append(table) #table
    data_pd['NoOfPlayers'].append(seat)
    data_pd['bain'].append(bain)
    data_pd['HandHiro'].append(handHiro)
    data_pd['Board'].append(board)

# Создаём ДатаФрейм
df = pd.DataFrame(data_pd)
df.head()

,TypeOfRoom,HandId,Tournament,info,Level,Date,Hour,TimeZoneAbb,Table,NoOfPlayers,bain,HandHiro,Board
0,PokerStars,228182836411,3227430197,$13.70+$1.30 USD Hold'em No Limit -,IX (200/400),2021/07/10,8:46:28,MSK,9-max,3,$13.70+$1.30,7h 7s,5h 2h Kc 3h 5c
1,PokerStars,228182839161,3227430197,$13.70+$1.30 USD Hold'em No Limit -,IX (200/400),2021/07/10,8:46:45,MSK,9-max,3,$13.70+$1.30,Ac 5h,Jd Qh Qc 6d Kd
2,PokerStars,228182845929,3227430197,$13.70+$1.30 USD Hold'em No Limit -,IX (200/400),2021/07/10,8:47:30,MSK,9-max,3,$13.70+$1.30,5c 5s,Td Kh Th 2c Ad
3,PokerStars,228182848632,3227430197,$13.70+$1.30 USD Hold'em No Limit -,IX (200/400),2021/07/10,8:47:48,MSK,9-max,3,$13.70+$1.30,4c 4s,3h 6d 7d 8d 6h
4,PokerStars,228242890835,3228689682,$27.40+$2.60 USD Hold'em No Limit -,I (10/20),2021/07/12,21:25:36,MSK,9-max,9,$27.40+$2.60,9h 9s,As 4s Kc

## Преобразуем строковые данные

In [43]:
date = data_pd['Date']
time = data_pd['Hour']

In [44]:
df["Date"] = pd.to_datetime(data_pd['Date'])
df["Time"] = pd.to_timedelta(data_pd['Hour'])

In [45]:
df["DateTime"] = df["Date"] + df["Time"]
df["DateTime"]

0   2021-07-10 08:46:28
Name: DateTime, dtype: datetime64[ns]

In [46]:
df.Tournament = df.Tournament.astype('int64')
df = df.astype({'HandId': np.int64, 'Tournament': np.int64})

In [47]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1 entries, 0 to 0
Data columns (total 15 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   TypeOfRoom   1 non-null      object
 1   HandId       1 non-null      int64
 2   Tournament   1 non-null      int64
 3   info         1 non-null      object
 4   Level        1 non-null      object
 5   Date         1 non-null      datetime64[ns]
 6   Hour         1 non-null      object
 7   TimeZoneAbb  1 non-null      object
 8   Table        1 non-null      object
 9   NoOfPlayers  1 non-null      int64
 10  bain         1 non-null      object
 11  HandHiro     1 non-null      object
 12  Board        1 non-null      object
 13  Time         1 non-null      timedelta64[ns]
 14  DateTime     1 non-null      datetime64[ns]
dtypes: datetime64[ns](2), int64(3), object(9), timedelta64[ns](1)
memory usage: 248.0+ bytes

In [48]:
df[['HandHiro', 'Board', 'Date', 'Hour','DateTime']].head()  # применим фильтер по столбцам

  HandHiro           Board       Date     Hour            DateTime
0    7h 7s  5h 2h Kc 3h 5c 2021-07-10  8:46:28 2021-07-10 08:46:28

In [136]:
hand = df[['HandHiro','Board']]
hand

  HandHiro           Board
0    7h 7s  5h 2h Kc 3h 5c
1    Ac 5h  Jd Qh Qc 6d Kd
2    5c 5s  Td Kh Th 2c Ad
3    4c 4s  3h 6d 7d 8d 6h
4    9h 9s        As 4s Kc
5    Td 8d        Jc 4s 6d
6    4c Ts     Ks 8s 9s 9d
7    Kc As  Td 6s 4c 8c Jd
8    Kc 2c        Qc Qh 2h
9    4c 4s     3c 8d 2s Ks

In [137]:
?evaluate_cards

Signature: evaluate_cards(*cards: Iterable[Union[int, str, phevaluator.card.Card]]) -> int
Docstring: <no docstring>
File:      c:\users\artio\anaconda3\lib\site-packages\phevaluator\evaluator.py
Type:      function

In [214]:
df['hand'] = df['HandHiro'] + " " + df['Board']

hand_ = df.iloc[2]['hand']
hand_.split()

['5c', '5s', 'Td', 'Kh', 'Th', '2c', 'Ad']

In [215]:
hand_1 = df['hand'].values[1]
hand_2 = hand_1.split()
hand_2

['Ac', '5h', 'Jd', 'Qh', 'Qc', '6d', 'Kd']

In [216]:
evaluate_cards(*hand_2)

3766

In [208]:
hand = [eval7.Card(s) for s in (hand_2)]

In [209]:
rang = eval7.evaluate(hand)   # ранг комбинации
rang

17484688

In [210]:
eval7.handtype(rang)

'Pair'